<!-- 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="../home-component">
      <img
        width="70"
        height="60"
        alt="SK Logo"
        title="Shakti Enterprises"
        src="../assets/logo/sk-logo-1.jpg"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Products</a>
        <a class="nav-item nav-link" href="#">About Us</a>
        <a class="nav-item nav-link" (click)="goToContactUs()">Contact Us</a>
      </div>
    </div>
  </nav> -->
  <ul class="nav nav-pills">
    <li role="presentation"><button class="btn btn-primary" type="button " (click)="goToHome()">Home</button></li>
    <li role="presentation"><button class="btn btn-primary" type="button">About Us</button></li>
    <li role="presentation"><button class="btn btn-primary" type="button" (click)="goToContactUs()" >Contact Us</button></li>
  </ul>
  <br>
  